@font-face {
    font-family: QueenFont;
    src: url("assets/QueenInlineGrunge.ttf");
}

/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

body {
    background: #000;
    min-height: 200vh;
    color: #fff;
}

h2 {
    font-family: "QueenFont";
    padding-bottom: 16px;
    text-align: center;
}

/* Header and Navigation */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 100px;
    z-index: 10000;
    background-color: #000;
    color: #fff;
}
#queenlogo {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo {
    position: relative;
    font-weight: 700;
    filter: #fff;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
/* Introduction of Site */

.introduction-image {
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.introduction-card {
    width: 100%; 
    height: 256px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.intro-paragraph {
    font-size: 1.5rem;
    text-align: center;
}

/* Content Cards */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 100px;
}

.content-card {
    width: calc(50% - 20px); /* 50% for 2 cards per row, minus margin */
    height: 256px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.content-card h2 {
    text-align: center;
}

/* Footer */
 footer {
    padding-left: 10%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: black;
    color: rgb(219, 219, 219);
 }
 #contact-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;

 }

/* ADDED */
 footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}


label {
    margin-bottom: 5px;
    font-family: "QueenFont";
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 252, 252);
    background-color: #000000;
    border-radius: 4px;
    font-size: 1.2rem;
}

button {
    padding: 10px 20px;
    background-color: black;
    font-size: 2rem;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.6s ease;
    font-family: "QueenFont";
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    box-shadow: 0 0 36px rgba(255, 255, 255, 0.5); /* Glow effect on hover */
    color: black;
    background-color: white;
}